piper-tts/kerstin-low.wav
piper-tts/ramona-low.wav
piper-tts/thorsten-emotional.wav
piper-tts/thorsten-high.wav
piper-tts/thorsten-medium.wav
thorsten-tts/thorsten-tacotron2-DDC_1.wav
thorsten-tts/thorsten-tacotron2-DDC_2.wav

piper-tts/voices_DE/eva
piper-tts/voices_DE/eva/de_DE-eva_k-x_low.onnx
piper-tts/voices_DE/eva/de_DE-eva_k-x_low.onnx.json
piper-tts/voices_DE/kerstin
piper-tts/voices_DE/kerstin/de_DE-kerstin-low.onnx
piper-tts/voices_DE/kerstin/de_DE-kerstin-low.onnx.json
piper-tts/voices_DE/ramona
piper-tts/voices_DE/ramona/de_DE-ramona-low.onnx
piper-tts/voices_DE/ramona/de_DE-ramona-low.onnx.json
piper-tts/voices_DE/thorsten-emotional
piper-tts/voices_DE/thorsten-emotional/de_DE-thorsten_emotional-medium.onnx
piper-tts/voices_DE/thorsten-emotional/de_DE-thorsten_emotional-medium.onnx.json
piper-tts/voices_DE/thorsten-high
piper-tts/voices_DE/thorsten-high/de_DE-thorsten-high.onnx
piper-tts/voices_DE/thorsten-high/de_DE-thorsten-high.onnx.json
piper-tts/voices_DE/thorsten-medium
piper-tts/voices_DE/thorsten-medium/de_DE-thorsten-medium.onnx
piper-tts/voices_DE/thorsten-medium/de_DE-thorsten-medium.onnx.json